<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: blue;
            }
            p,h3{
                margin-left: 100px;
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <h3>Profile</h3>
  <p>Name:<b><%=profileData.name%></b></p>
  <p>Age:<b><%=profileData.age%></p></b></p>
  <p>Profession:<b><%=profileData.profession%></b></p>
  <p>Location:<b><%=profileData.location%></b></p>
    </body>
</html>